name: Main to Docs Sync

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: docs
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Merge main into docs
        run: |
          echo "three"
          if ! git diff --quiet HEAD origin/docs; then
            git merge origin/main --no-ff -m "Sync main -> docs [skip update-docs]"
            echo "four"
            git push origin refs/heads/docs
            echo "five"
          else
            echo "No changes to push"
          fi
