# name: Auto sync updates docs->main 

# permissions:
#   contents: read
#   pull-requests: write

# on:
#   push:
#     branches:
#       - "docs"

# jobs:
#   auto-pr:
#     if: "contains(github.event.head_commit.message, 'update-docs')"
#     runs-on: ubuntu-latest
#     steps:
#       - name: Create Pull Request
#         uses: actions/github-script@v7
#         with:
#           github-token: ${{ secrets.GITHUB_TOKEN }}
#           script: |
#             const branch = context.ref.replace('refs/heads/', '');
#             const targetBranch = "main";

#             await github.rest.pulls.create({
#               owner: context.repo.owner,
#               repo: context.repo.repo,
#               title: `Auto PR: ${branch} → ${targetBranch}`,
#               head: branch,
#               base: targetBranch,
#               body: "Auto sync updated from branch \"docs\" to branch \"main\""
#             });
name: Create PR if changes exist

env:
  REVIEWERS: vakhaniya,vakhaniya-pod

on:
  push:
    branches:
      - docs

permissions:
  contents: read
  pull-requests: write

jobs:
  check-and-create-pr:
    if: "contains(github.event.head_commit.message, 'update-docs')"
    runs-on: ubuntu-latest
    steps:
      # 1. Чекаутим код
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 2. Проверяем разницу и создаем PR
      - name: Check diff and Create PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git fetch origin main
          
          if ! git diff --quiet origin/main...HEAD; then
            echo "Обнаружены изменения. Попытка создания PR..."

            EXISTING_PR=$(gh pr list --base main --head docs --state open --json number --jq '.[0].number')  
            if [ -n "$EXISTING_PR" ]; then
              echo "Open PR #$EXISTING_PR already exists. Exiting."
              exit 0 
            fi
    
            gh pr create \
              --base main \
              --head docs \
              --reviewer $REVIEWERS \
              --title "Автоматическое обновление документации" \
              --body "Найдены изменения в ветке docs. Создан автоматический PR."
              
          else
            echo "Изменений по сравнению с main нет. PR не нужен."
          fi
